Repository ICEI-PUC-Minas-PMV-ADS/pmv-ads-2024-1-e1-proj-web-t8-pmv-ads-2024-1-e1-proj-curriculo-ideal, pull requests merged in 2024-05, with the labels that each got.

#77 CSS da pagina crie seu curriculo
  codigo-fonte/crie-seu-curriculo.css
  codigo-fonte/crie-seu-curriculo.html
Labels: development, CSS

#82 Update html como fazer
  codigo-fonte/como-fazer.css
  codigo-fonte/como-fazer.html
Labels: development, HTML

#81 Arquivo CSS para página como-fazer
  codigo-fonte/como-fazer.css
Labels: development, CSS

#85 CSS paginas login e signup
  codigo-fonte/login-signup-style.css
  codigo-fonte/login.html
  codigo-fonte/signup.html
Labels: development, CSS

#84 index-nova-atualizada-bootstrap
  .vscode/launch.json
  codigo-fonte/grafico.html
  codigo-fonte/index.css
  codigo-fonte/index.html
Labels: development, HTML, CSS

#87 Barra de progresso crie seu curriculo
  codigo-fonte/crie-seu-curriculo.css
  codigo-fonte/crie-seu-curriculo.html
  codigo-fonte/crie-seu-curriculo.js
  codigo-fonte/navbar-footer-style.css
Labels: development, CSS, JS

#88 Suascandidaturas fazendo alteracoes no html css e javascript
  codigo-fonte/js/suascandidaturas-script.js
  codigo-fonte/suascandidaturas-style.css
  codigo-fonte/suascandidaturas.html
Labels: documentation, HTML, CSS, JS

#86 editando-grafico-e-dividindo
  codigo-fonte/grafico.css
  codigo-fonte/grafico.html
  codigo-fonte/grafico.js
  codigo-fonte/index.css
Labels: development, HTML, CSS, JS

#83 revisao html e criacao css suas candidaturas
  codigo-fonte/suascandidaturas-style.css
  codigo-fonte/suascandidaturas.html
Labels: development, HTML, CSS

#89 Organizando estrutura codigo
  .vscode/launch.json
  .vscode/settings.json
  codigo-fonte/.gitignore
  codigo-fonte/README.md
  codigo-fonte/como-fazer.html
  codigo-fonte/como-fazer/como-fazer.css
  codigo-fonte/como-fazer/como-fazer.html
  codigo-fonte/criar-curriculo/crie-seu-curriculo.css
  codigo-fonte/criar-curriculo/crie-seu-curriculo.html
  codigo-fonte/criar-curriculo/crie-seu-curriculo.js
  codigo-fonte/criar-curriculo/download-curriculo.html
  codigo-fonte/crie-seu-curriculo.html
  codigo-fonte/erro/pagina-erro.html
  codigo-fonte/footer-style.css
  codigo-fonte/footer.html
  codigo-fonte/gerenciar-vagas.html
  codigo-fonte/grafico.html
  codigo-fonte/grafico/grafico.css
  codigo-fonte/grafico/grafico.html
  codigo-fonte/grafico/grafico.js
  codigo-fonte/home/index.css
  codigo-fonte/home/index.html
  codigo-fonte/index.html
  codigo-fonte/login-e-signup/login-signup-style.css
  codigo-fonte/login-e-signup/login.html
  codigo-fonte/login-e-signup/signup.html
  codigo-fonte/login.html
  codigo-fonte/navbar.html
  codigo-fonte/navbar/navbar-footer-style.css
  codigo-fonte/pagina-erro.html
  codigo-fonte/signup.html
  codigo-fonte/suas-candidaturas/suas-candidaturas-style.css
  codigo-fonte/suas-candidaturas/suas-candidaturas.html
  codigo-fonte/suas-candidaturas/suas-candidaturas.js
  codigo-fonte/suascandidaturas.html
Labels: documentation

#91 Permitindo criar curriculo local storage
  codigo-fonte/criar-curriculo/crie-seu-curriculo.css
  codigo-fonte/criar-curriculo/crie-seu-curriculo.html
  codigo-fonte/criar-curriculo/crie-seu-curriculo.js
  codigo-fonte/criar-curriculo/download-curriculo.html
  codigo-fonte/img/curriculo-exemplo-1.png
  codigo-fonte/img/curriculo-exemplo-2.png
Labels: development, JS

#94 Fazendo funcionalidade do create na suas candidaturas.js
  codigo-fonte/suas-candidaturas/suas-candidaturas-style.css
  codigo-fonte/suas-candidaturas/suas-candidaturas.html
  codigo-fonte/suas-candidaturas/suas-candidaturas.js
Labels: development, JS

#93 Upload signup
  codigo-fonte/login-e-signup/signup.html
  codigo-fonte/login-e-signup/signup.js
Labels: development, JS

#96 Read crie seu curriculo
  codigo-fonte/criar-curriculo/crie-seu-curriculo.css
  codigo-fonte/criar-curriculo/crie-seu-curriculo.html
  codigo-fonte/criar-curriculo/crie-seu-curriculo.js
  codigo-fonte/criar-curriculo/download-curriculo.html
Labels: development, JS

#95 adicionando carrossel
  codigo-fonte/home/index.css
  codigo-fonte/home/index.html
  codigo-fonte/home/index.js
  codigo-fonte/img/imgcirculos1.png
  codigo-fonte/img/imgcirculos2.png
Labels: development, JS

#98 Fazendo read na suas candidaturas.js
  codigo-fonte/suas-candidaturas/suas-candidaturas.html
  codigo-fonte/suas-candidaturas/suas-candidaturas.js
Labels: development, JS

#90 revisando html css e adicionando js
  codigo-fonte/suas-candidaturas/suas-candidaturas-style.css
  codigo-fonte/suas-candidaturas/suas-candidaturas.html
  codigo-fonte/suas-candidaturas/suas-candidaturas.js
Labels: development, HTML, CSS, JS

#97 subindo funcionalidades de login
  codigo-fonte/login-e-signup/login.html
  codigo-fonte/login-e-signup/login.js
  codigo-fonte/login-e-signup/signup.js
Labels: development, JS

#99 Update HTML e CSS + arquivo JS
  codigo-fonte/como-fazer/como-fazer.css
  codigo-fonte/como-fazer/como-fazer.html
  codigo-fonte/como-fazer/como-fazer.js
Labels: development, HTML, CSS, JS

#102 Update 06-Programação de Funcionalidades.md
  documentos/06-Programação de Funcionalidades.md
Labels: documentation

#92 Update 05-Template padrão da Aplicação.md
  documentos/05-Template padrão da Aplicação.md
Labels: documentation

#103 Resolvendo links página como fazer
  codigo-fonte/como-fazer/como-fazer.css
  codigo-fonte/como-fazer/como-fazer.html
Labels: HTML

#104 Correção do comportamento do highlight
  codigo-fonte/como-fazer/como-fazer.css
  codigo-fonte/como-fazer/como-fazer.js
Labels: CSS, JS

#112 Primeiro update da home e enxugada do JS-Como-Fazer
  codigo-fonte/como-fazer/como-fazer.js
  codigo-fonte/home/index.css
  codigo-fonte/home/index.html
Labels: HTML, CSS

#111 Ajuste barra de progresso - template check
  codigo-fonte/criar-curriculo/crie-seu-curriculo.html
  codigo-fonte/criar-curriculo/crie-seu-curriculo.js
Labels: bug

#113 revisando js
  codigo-fonte/suas-candidaturas/suas-candidaturas.html
  codigo-fonte/suas-candidaturas/suas-candidaturas.js
Labels: development, HTML, JS
